<h1>Contact US</h1>
<%= form_for @contact, url: {action: "create"} do |f| %>


<div>
    <%= f.label "Last Name:" %>
    <br>
    <%= f.text_field :first_name%>
</div>
<div>
    <%= f.label "Last Name:" %>
    <br>
    <%= f.text_field :last_name%>
</div>
<div>
    <%= f.label "Email:" %>
    <br>
    <%= f.text_field :email_address%>
</div>
<div>
    <%= f.label "Phone Number" %>
    <br>
    <%= f.text_field :phone%>
</div>
<br>
<div>
  <%= f.label "Feedback:"%>
    <br>
  <%= f.text_area :comments %>
</div>
<div>
  <%= f.submit "Create" %>
</div>




<% end %>

 
